body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* BUTTONS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.btn-vwo {
    cursor: pointer;
    background: #47B178;
    color: #FFF;
    border: 1px solid #47b178;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.15s ease-in-out;
    transition-property: background, border, color;
}

/* HEADER */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

header {
    background-color: #EEEFF1;
    background-color: #26134D;
    padding: 15px 0 10px 0;
    border-bottom: 1px solid #666;
}

/* MAIN */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

main {
    background-color: #eee;
    padding-top: 15px;
    flex-grow: 1;
}

/* LOGOS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.logo {
    margin: 0 auto;
    display: block;
    fill: #fff !important;
}

.logo__vwo {
    display: block;
    height: 30px;
}

.logo__vwo path {
    fill: #fff;
}

.logo__debugger {
    display: block;
    height: 15px;
}

/* PANELS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.panel-heading {
    color: #999 !important;
}

.panel-heading.bg-success {
    background-color: #BF3078 !important;
    color: #fff !important;
}

.panel-heading small {
    color: red;
}

/* EXPERIMENT */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.experiment-details,
.experiment-details__variations,
.experiment-details__goals{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.experiment-details li + li {
    margin-top: 3px;
}

.experiment-details__variations,
.experiment-details__goals {
    display: inline-block;
}

.experiment-details__variations li,
.experiment-details__goals li {
    display: inline-block;
}