body {
    color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p, div {
    color: #aaa;
}

.btn-vwo {
    cursor: pointer;
    background: #47B178;
    color: #FFF;
    border: 1px solid #47b178;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.15s ease-in-out;
    transition-property: background, border, color;
}

.panel-heading.bg-success {
    background-color: #dff0d8 !important;
}

header {
    background-color: #EEEFF1;
    padding: 25px 0 20px 0;
    border-bottom: 1px solid #ddd;
}

main {
    padding-top: 15px;
    background-color: #00294b;
    flex-grow: 1;
}

.logo {
    margin: 0 auto;
    display: block;
}

.logo__vwo {
    display: block;
    height: 30px;
}

.logo__debugger {
    display: block;
    height: 15px;
}

.goal {
    background-color: #eee;
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
}