body {
    background-color: #fff;
    color: #788290;
}

.btn-vwo {
    cursor: pointer;
    background: #47B178;
    color: #FFF;
    border: 1px solid #47b178;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: 0.15s ease-in-out;
    transition-property: background, border, color;
}

.panel-heading.bg-success {
    background-color: #dff0d8 !important;
}

.nav-button {
    margin-top: 10px;
}

header {
    margin-bottom: -20px;
}
